.nav {
  background-color: #101d2c;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  height: 9rem;
  @include respond(tab-port) {
    padding: 0 3rem;
  }

  &__logo {
    width: 24rem;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    padding: 20px;
    @include respond(tab-port) {
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  &__link:link,
  &__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
  }
  &__link--btn:link,
  &__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
}
