{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Nextby is a web design and  development company in Finland. We provide Web Design Services, Back-end Development, Graphic Design, and Digital Marketing Services."
    />
    <meta
      name="keywords"
      content="Web Design in Finland, Web Development in Finland, Search Engine Optimization, Digital Marketing in Finland"
    />
    <meta name="author" content="Nextby" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="shortcut icon" type="image/png" href="img/nextby-favicon.png" />
    <script defer src="js/script.js"></script>
    <title>
      Nextby Accounting and Bookkeeping for Startups and Small Enterprises.
    </title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
        <a href="/"
          ><img src="{% static 'img/nextby-white.png' %}" alt="Nextby Logo" class="nav__logo"
        /></a>
        <ul class="nav__links">
          <li class="nav__item">
            <a href="/#section-services" class="nav__link">Services</a>
          </li>
          <li class="nav__item">
            <a href="/#section-tours" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="/contact" class="nav__link">Contact</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--btn btn--show-modal" href="#"
              >Join</a
            >
          </li>
        </ul>
      </nav>

      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">Bookkeeping Services</span>
          <span class="heading-primary--sub"
            >Low cost, fixed fee for just €29 a month.</span
          >
        </h1>
      </div>

      <div class="header__seenon">
        <div class="header__seenon-text">Our Partners</div>
        <div class="header__seenon-logos">
          <img src="{% static 'img/Wolt-Logo.png' %}" alt="Nextby Seen on logo 1" />
          <img src="{% static 'img/foodora.png' %}" alt="Nextby Seen on logo 2" />
          <img src="{% static 'img/jp.png' %}" alt="Nextby Seen on logo 3" />
          <img src="{% static 'img/Webily-LogoWhite.png' %}" alt="Nextby Seen on logo 4" />
        </div>
      </div>
    </header>
    <main>
      <div class="privacy">
        <h1 class="heading-tertiary u-margin-bottom-small">Privacy Notice</h1>

        <p class="paragraph">Last updated: 23 July 2023</p>
        <p class="paragraph" style="text-align: justify">
          This notice is applicable to all websites owned and operated by us, as
          well as all services we provide, including our online and mobile
          accounting and financial products, and any other apps or services that
          may be offered (e.g., events or training). It serves as a data
          protection statement in compliance with personal data legislation.
        </p>
        <p class="paragraph" style="text-align: justify">
          By utilizing Nextby's services, the user acknowledges and accepts the
          terms outlined in this data sheet. If the user does not agree with
          these terms, they are not authorized to use Nextby's services.
        </p>
        <p class="paragraph" style="text-align: justify">
          When we refer to "personal data," we are indicating identifiable
          information about you, such as your name, email, address, telephone
          number, bank account details, payment information, support queries,
          community comments, and similar data.
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">1. Registrar</h3>

        <p class="paragraph">
          Nextby, Käsityöläisentie 4-10A, 00750 Helsinki. Y-ID 3175474-5.
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
          2. Name of Register
        </h3>

        <p class="paragraph">Nextby Customer register</p>

        <h3 class="heading-tertiary u-margin-bottom-small">
          3. Purpose of personal data processing
        </h3>

        <p class="paragraph" style="text-align: justify">
          How we use your data: we use your personal data to operate our
          websites, to manage the relationship between us and the customers, to
          identify a person in customer support, to communicate with customer,to
          provide information you have requested from us, operational
          communication like changes to our websites and services, security
          updates, or assistance with using our websites and services.For
          marketing communications, asking you for feedback or to take part in
          any research we are conducting.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small">
          4. Data content of the register
        </h3>

        <p class="paragraph" style="text-align: justify">
          The customer register mainly comprises company information, including
          the first name and last name of the company or contact person, their
          email address, telephone number, street address, zip code, post office
          details, social security number, and IP address. It also contains
          board and ownership information about the company. Moreover, the
          register encompasses data generated from the customer's interactions
          and relationship with the company, such as customer relationship
          management details, order-related information, service provisioning
          and content data, customer history, satisfaction-related information,
          and customer service procedures data.
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
          5. Regular sources of information
        </h3>

        <p class="paragraph" style="text-align: justify">
          Typically, personal data is acquired directly from customer companies
          and their representatives. Throughout the customer relationship, the
          information is regularly updated as required. Additionally, the
          register may gather information from external data sources like YTJ.fi
          and from authorized sources such as insurance services, official
          registers, and electronic services.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small">
          6. Regular data transfers and International data transfers
        </h3>

        <p class="paragraph" style="text-align: justify">
          Information is handed over to the authorities in accordance with
          current legislation. If the service provided to the customer requires
          partial outsourcing to a third party to implement the service, we
          ensure adequate protection and confidentiality of personal data.
          Nextby does not sell personal data to third parties.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small">
          7. Principles of Data Security
        </h3>

        <p class="paragraph" style="text-align: justify">
          Security is a priority for us when it comes to your personal data.
          Personal information is kept confidential. The register is protected
          by technical and organizational means. The data is sent via an
          encrypted SSL connection. The information in the register is stored on
          servers and systems that are protected by passwords and other
          technical means. Access to personal data is only granted if it is
          necessary for data processing. All personal data processors are bound
          by confidentiality.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small">8. User rights</h3>
        <p class="paragraph" style="text-align: justify">
          It is your personal data and you have certain rights relating to it.
          The user can send inquiries related to data protection and this data
          protection clause to the accounting firm in writing. We are constantly
          developing our services and reserve the right to change this privacy
          statement by announcing it in our services. Changes can also be based
          on changes in legislation. We recommend that you familiarize yourself
          with the content of the privacy statement regularly.
        </p>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__logo-box">
        <picture class="footer__logo">
          <source
            srcset="
            {% static 'img/nextby-white-small-1x.png' %} 1x,
            {% static 'img/nextby-white-small-2x.png' %} 2x
            "
            media="(max-width: 37.5em)"
          />
          <img
            srcset="{% static 'img/nextby-white-1x.png' %} 1x, {% static 'img/nextby-white.png' %} 2x"
            alt="Full logo"
            src="{% static 'img/nextby-white.png' %}"
          />
        </picture>
        <p>always your nearby</p>
      </div>
      <div class="row">
        <div class="col-1-of-2">
          <div class="footer__navigation">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="/company" class="footer__link">Company</a>
              </li>
              <li class="footer__item">
                <a href="/contact" class="footer__link">Contact us</a>
              </li>
              <li class="footer__item">
                <a href="/careers" class="footer__link">Carrers</a>
              </li>
              <li class="footer__item">
                <a href="/privacy" class="footer__link">Privacy policy</a>
              </li>
            </ul>
          </div>
          <div class="footer__contact">
            <ul class="footer__contact--info">
              <li class="footer__contact--info-list">
                <i
                  class="fa-solid fa-envelope-circle-check footer__contact-icon"
                ></i>
                Email: sales@nextby.fi
              </li>
              <li class="footer__contact--info-list">
                <i class="fa-solid fa-phone-volume footer__contact-icon"></i>
                Phone: +358 10 348 2540
              </li>
              <li class="footer__contact--info-list">
                <i
                  class="fa-brands fa-square-whatsapp footer__contact-icon"
                ></i>
                WhatsApp: +358 50 553 8518
              </li>
              <li class="footer__contact--info-list">
                <i
                  class="fa-sharp fa-solid fa-location-pin footer__contact-icon"
                ></i>
                Address: Käsityöläisentie 4A, 00750 Helsinki
              </li>
            </ul>
          </div>
        </div>
        <div class="col-1-of-2">
          <p class="footer__copyright">
            Copyright 2023 &copy; by Nextby. We are a Business Development
            company in Finland. We provide Accounting Services, Business growth,
            Consultancy, Brand Marketing, Go-to-market Strategy, Search Engine
            Optimization (SEO), Social media marketing, Digital marketing, UI/UX
            research and design, Development for web and app, Lead and demand
            generation, Performance marketing, Customer acquisition and database
            management, Workflow and marketing automation, Email marketing, and
            Digital integration services etc.
          </p>
        </div>
      </div>
    </footer>
    <div class="modal hidden">
      <button class="btn--close-modal">&times;</button>
      <h2 class="modal__header">
        Open your account <br />
        in just <span class="highlight">5 minutes</span>
      </h2>
      <form class="modal__form">
        <label>First Name</label>
        <input type="text" />
        <label>Last Name</label>
        <input type="text" />
        <label>Email Address</label>
        <input type="email" />
        <button class="btn">Next step &rarr;</button>
      </form>
    </div>
    <div class="overlay hidden"></div>
    <script src="js/script.js"></script>
  </body>
</html>
